{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main"><br><br><br><br><br><br>
    <div class="container">
    <h2 align="center"><font color="orange"><b>Спасибо за заявку! </b></font></h2><br>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Отлично!</h4>
        <p>Ваша заявка обрабатывается.</p>
        <hr>
        <p class="mb-0">В ближайшее время с вами свяжется свяжется наш консультант.</p>
    </div><br><br>

    <center><img src="../media/do.png" alt="" width="150" height="150"></a></center><br><br><br>
    </div>
</main>
{% endblock %}