<!-- шаблон главной страницы, вставляется в `base.html` -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main"><br><br>
	<div class="container">
	<span style="font-size: 30px; color: #A9A9A9;"><i class="far fa-id-badge"></i></span>&nbsp;&nbsp;
  	<font size='+3' color="#9fa8da "><b>Наши контакты</b></font></h2>
	<hr size="2" width="400" color="#7986cb" align="left">
		<hr size="2" width="200" color="#7986cb" align="left"><br>
  <div class="row black-text">
            <div class="col s4">
                <center><img src="../media/Контакты1.png" height="70" width="70">
                <h4>Позвоните нам</h4><br>Есть вопросы? Мы поможем!<br><br><br><b>89324333031</b><br><b></b></center>
            </div>
            <div class="col s4">
				<center><img src="../media/Контакты2.png" height="70" width="70">
                <h4>Напишите нам</h4><br>Идеи? Предложения?<br>Мы открыты для любых вопросов!<br><br><br>Написать на <b>autohelp333@gmail.com</b></center>
            </div>
            <div class="col s4">
                <center><img src="../media/Контакты3.png" height="70" width="70">
                <h4>Обратная связь</h4><br>Поделитесь мнением о нашей<br>работе и помогите нас стать лучше!<br><br><br>Позвоните на <b>89324333031</b></center>
            </div>
		</div><br><br><br>
		<div class="parallax-container">
			<div class="parallax"><center><img src="../media/man.jpg" ></center></div>
		</div><br><br>
		<font color="black">
			<hr>

			</div>
		</font>
		<br>

</main>
{% endblock %}